 <div class="col-lg-6">
  <!-- Due tasks -->
    <div class="card shadow-base bd-0">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Tâches en retard</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                   
                    <th class="pd-y-5">Date</th>
                    <th class="pd-y-5">Titre</th>
                    <th class="pd-y-5">Priorité</th>
                    <th class="pd-y-5">Date d'échéance</th>
                    <th class="pd-y-5">Progression</th>
                   
                  </tr>
                </thead>
                <tbody>
                  
                 
                </tbody>
              </table>
              
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
                <a href=""><i class="fa fa-angle-down mg-r-5"></i>Voir tout</a>
              </div><!-- card-footer -->
            </div>




            <!-- Due request -->
            <div class="card shadow-base bd-0 mg-t-20">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Tickets en retard</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                    <th class="pd-y-5">Date</th>
                    <th class="pd-y-5">Titre</th>
                    <th class="pd-y-5">Date d'écheance</th>
                    <th class="pd-y-5">Priorité</th>
                     <th class="pd-y-5">Progression</th>
                   
                  </tr>
                </thead>
                <tbody>
                  
                  
                </tbody>
              </table>
               
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
              </div><!-- card-footer -->
            </div>



            <!-- Due arrival mail -->
            <div class="card shadow-base bd-0 mg-t-20">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Courrier d'arrivée en retard</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                  
                    <th class="pd-y-5">Date Enreg.</th>
                    <th class="pd-y-5">Date arrivée</th>
                    <th class="pd-y-5">Date départ</th>
                    <th class="pd-y-5">Date d'écheance</th>
                    <th class="pd-y-5">Réf</th>
                   
                  </tr>
                </thead>
                <tbody>
                  
                  
                </tbody>
              </table>
              
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
              </div><!-- card-footer -->
            </div>
 </div>




  <div class="col-lg-6">
    <!-- Recent imputations -->
    <div class="card shadow-base bd-0">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Tâches recentes</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                   
                    <th class="pd-y-5">Date</th>
                    <th class="pd-y-5">Titre</th>
                    <th class="pd-y-5">Priorité</th>
                    <th class="pd-y-5">Date d'échéance</th>
                    <th class="pd-y-5">Progression</th>
                    
                  </tr>
                </thead>
                <tbody>
                 

                 
                </tbody>
              </table>
              
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
              </div><!-- card-footer -->
            </div>




            <!-- Recents request-->
            <div class="card shadow-base bd-0 mg-t-20">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Demandes récentes </h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                    <th class="pd-y-5">Date</th>
                    <th class="pd-y-5">Date demande</th>
                    <th class="pd-y-5">N°Maticule Etudiant</th>
                    <th class="pd-y-5">Etudiant</th>
                    <th class="pd-y-5">Statut</th>
                  </tr>
                </thead>
                <tbody>
                  
                 
                </tbody>
              </table>
              
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
              </div><!-- card-footer -->
            </div>



            <!-- Last arrival mails -->
            <div class="card shadow-base bd-0 mg-t-20">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Courrier d'arrivée récents</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                    
                    <th class="pd-y-5">Date Enreg.</th>
                    <th class="pd-y-5">Date arrivée</th>
                    <th class="pd-y-5">Date départ</th>
                    <th class="pd-y-5">Date d'écheance</th>
                    <th class="pd-y-5">Réf</th>
                   
                  </tr>
                </thead>
                <tbody>
                  
                 
                </tbody>
              </table>
              
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
              </div><!-- card-footer -->
            </div>
 </div>