<section class="py-md-11 border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3 ">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <!--?xml version="1.0" encoding="UTF-8"?-->
              <i class="fa fa-magnet" aria-hidden="true"></i>
            </div>

            <!-- Heading -->
            <h3>
              Capturer
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Landkit is built to make your life easier. Variables, build tooling, documentation, and reusable components.
            </p>

          </div>
          <div class="col-12 col-md-3 ">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <i class="fa fa-share-alt-square" aria-hidden="true"></i>
            </div>

            <!-- Heading -->
            <h3>
              Ventiler
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Designed with the latest design trends in mind. Landkit feels modern, minimal, and beautiful.
            </p>

          </div>
          <div class="col-12 col-md-3">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <i class="fa fa-server" aria-hidden="true"></i>
            </div>

            <!-- Heading -->
            <h3>
              Classer
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              We've written extensive documentation for components and tools, so you never have to reverse engineer anything.
            </p>

          </div>

          <div class="col-12 col-md-3">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </div>

            <!-- Heading -->
            <h3>
              Exploiter
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              We've written extensive documentation for components and tools, so you never have to reverse engineer anything.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>