<section class="pt-12 pt-md-13 bg-gray-200">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">
            
            <!-- Image -->
            <%= image_tag "illustration-8.png" , class: "img-fluid mb-6 mb-md-0"%>
            <img src="assets/img/illustrations/illustration-8.png" alt="..." class="img-fluid mb-6 mb-md-0">

          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1">
            
            <!-- Heading -->
            <h2>
              Pourquoi MailChief? <br>
              <!-- <span class="text-primary">Let us handle the design</span>. -->
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-gray-700 mb-6">
              A la fois performant et facile à utiliser, il s'adresse à tous les types de structures.            
              Un  outils qui s'adapter à la structure hiérarchique de votre l'entreprise, à son plan de classement  et à l'organisation de ses flux d'informations.
              </p>

            

          </div>
        </div> <!-- / .row --> 
      </div> <!-- / .container -->
    </section>