<section class="pt-md-11">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">
            
            <!-- Image -->
            <%= image_tag "illustration-2.png", class: "img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" %>

          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1 ">
            
            <!-- Heading -->
            <h1 class="display-3 text-center text-md-left">
              Gérer votre <span class="text-primary">flux </span> <br>
              d'informations.
            </h1>

            <!-- Text -->
            <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
              Plate-forme web de gestion d'informations entrantes et sortantes dans une entrptise.
            </p>
                
            <!-- Buttons -->
            <div class="text-center text-md-left">
                <%= link_to raw('30 jours d\'essai gratuit <i class="fa fa-arrow-circle-right d-none d-md-inline ml-3"></i>'), new_user_registration_path,  class:"btn btn-primary shadow lift mr-1" %>

              
              <!--
              <a href="docs/index.html" class="btn btn-primary-soft lift">
                Documentation
              </a>
              -->
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>