//$('#user_profile_attributes_division_id').html("<%= escape_javascript(options_for_select(@divisions)) %>");
$('#user_profile_attributes_division_id').empty();
$('#user_profile_attributes_division_id').append( $('<option value="">Sélectionner</option>'));
<% @divisions.each do |division| %>
  $('#user_profile_attributes_division_id').append($('<option value="<%= division.id %>"><%= division.name %></option>'));
<% end %>