<div class="br-pageheader">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
        
        <span class="breadcrumb-item active"><h5>Utilisateurs</h2></span>
      </nav>
    </div><!-- br-pageheader -->
<div class="br-pagebody">
  <div class="br-section-wrapper">
    <div class="headers mg-b-20">
        <div class="left-content">
        </div>

        <div class="text-right">
            <%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Ajouter'), new_user_path, class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", remote: true %>

        </div>

    </div>


<table id="datatable1" class="table display responsive nowrap">
		  <thead>
			<tr>
			
				<th>E-mail</th>
				<th>Profil</th>
				<th>Actions</th>
			  
			</tr>
		  </thead>

		  <tbody class="users">
				<%= render('index') %>
		  </tbody>
		</table>
	</div>
</div>
<div id="user-modal" class="c-modal modal fade" data-backdrop="static"></div>
