
<div class="dropdown">
<a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-bell-o tx-24"></i>
    <!-- start: if statement -->
    <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>
    <!-- end: if statement -->
</a>
<div class="dropdown-menu dropdown-menu-header" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-83px, 1px, 0px);">
    <div class="dropdown-menu-label">
    <label>Notifications</label>
    <!-- <a href="">Mark All as Read</a> -->
    </div><!-- d-flex -->

    <div class="media-list">
        
        <!-- loop starts here -->
        
        <div class="dropdown-footer">
            <a href=""><i class="fa fa-angle-down"></i> Tout afficher</a>
        </div>
    </div><!-- media-list -->
</div><!-- dropdown-menu -->
</div><!-- dropdown -->
  