<h1>Editing Heart Failure Monitoring</h1>

<%= render 'form', heart_failure_monitoring: @heart_failure_monitoring %>

<%= link_to 'Show', @heart_failure_monitoring %> |
<%= link_to 'Back', heart_failure_monitorings_path %>
