<div class="adlist-side-ads mg-t-20">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- ImmofyAdlistSideAds -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3881709634288686"
        data-ad-slot="5314114314"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>