
<div class="container">
   
            <div class="google-ads">
                <div class="header-ads mg-b-20 mg-t-20">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- ImmofyHeaderAds -->
                    <ins class="adsbygoogle"
                        style="display:inline-block;width:728px;height:90px"
                        data-ad-client="ca-pub-3881709634288686"
                        data-ad-slot="7769629521"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
      
</div>