<div class="container">
<div class="br-pageheader">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
        
        <span class="breadcrumb-item active"><h5>Suivis HTA</h5></span>
      </nav>
    </div><!-- br-pageheader -->
<div class="br-pagebody mg-b-30">
  <div class="br-section-wrapper">
    <div class="headers mg-b-20">
        <div class="left-content">
        </div>

        <div class="text-right">
        
            
        
        </div>

    </div>


<table id="datatable1" class="table display responsive nowrap">


  <thead>
    <tr>
      <th>Patient</th>
      <th>TAS</th>
      <th>TAD</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody class="hta-monitorings">
    <%= render "index" %>
  </tbody>
</table>

</div>
</div>
</div>
<div id="hta-monitoring-modal" class="c-modal modal fade" data-backdrop="static"></div>
