<div class="container-fluid">
      <div class="br-pagetitle">
        <i class="fa fa-home tx-60 lh-0  op-7" aria-hidden="true"></i>
        <div>
          <h4>Tableau de bord</h4>
          <p class="mg-b-0">Bienvenue dans votre tableau de bord.</p>
        </div>
      </div>

      <div class="br-pagebody mg-b-30">
        <div class="row row-sm mg-t-20">
          <%= render "dashboard/partials/subpartials/agency/stats"%>
        </div>

        <div class="row row-sm mg-t-20">
            <div class="col-md-12">
                <%= render "dashboard/partials/subpartials/agency/lastests", properties: @properties %>
            </div>
        </div><!-- row -->
    </div><!-- br-pagebody -->
    
</div>