<!-- ########## START: MAIN PANEL ########## -->
    <div class="container-fluid">
      <div class="br-pagetitle">
        <i class="iconion-chevron-right"></i>
        <div>
          <h4>Tableau de bord</h4>
          <p class="mg-b-0"></p>
        </div>
      </div>

      <div class="br-pagebody">
        <div class="row row-sm">
          <!-- Stats -->
          <%= render "dashboard/partials/subpartials/superuser/stats" %>
        </div><!-- row -->

        <div class="row row-sm mg-t-20">
            <!-- <%= render "dashboard/partials/subpartials/superuser/graph" %> -->
        </div><!-- row -->

      </div><!-- br-pagebody -->
      
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->