<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="user-profile-cover">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="user-profile-cover-left-content">
                                <!-- Avatar -->
                                <div class="user-avatar">
                                    <%= user_avatar(@provider, "Avatar", "img-fluid rounded-circle-100")%>              
                                    
                                </div>
                            
                                <!-- Username --->
                                <div class="user-login">
                                    <%=  "#{@provider.profile.first_name} #{@provider.profile.last_name}" %> 
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="user-profile-cover-right-content pull-right">
                                  <!--  <%= link_to raw('<i class="fa fa-comments-o" aria-hidden="true"></i> Rendez-vous'), new_appointment_path(provider: @provider.id), class: "btn btn-primary", title: "L'envoyer un message", remote: true %> -->
                                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-meta-menu">
                   
                </div>
            </div>
        </div>
    </div>
</div>