

<div class="br-pageheader mg-30">
      
</div><!-- br-pageheader -->
<div class="br-pagebody mg-b-30">
  <div class="br-section-wrapper">
    <div class="headers mg-b-20">
        
    <h2>Nouvelle ordonnance</h2>
    <hr />
   </div>

      <%= render 'form', prescription: @prescription %>

      	


  </div>
  </div>