<div class="container main-container">

    <div class="br-pagebody">
        <div class="br-section-wrapper">
            <div class="headers mg-b-5">
                <h2>Liste des spécialités</h2>

            </div>
            <div class="section-body">
                <div class="row">
                    <div class="col-md-9">
                        <ul>
                            <% @specialities.each do |speciality| %>
                                <li>
                                    <%= link_to "#{speciality.name} (#{count_speciality(speciality.id)})", speciality_name_filter_path(id: speciality.id) %>
                                </li>
                            <% end %>
                        </ul>
                        <div class="row page_navi">
                            <%= will_paginate @specialities, previous_label: "Précédent",next_label: "Suivant",  renderer: BootstrapPagination::Rails %>
                                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>