<h1>Editing Structure Administrator</h1>

<%= render 'form', structure_administrator: @structure_administrator %>

<%= link_to 'Show', @structure_administrator %> |
<%= link_to 'Back', structure_administrators_path %>
