<div class="col-sm-6 col-lg-4">
            <div class="bg-white rounded shadow-base overflow-hidden">
              <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                <i class="fa fa-building-o tx-80 lh-0 tx-primary op-5" aria-hidden="true"></i>

              
                <div class="mg-l-20">
                  <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase mg-b-10">Propriétés</p>
                  <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1"><%= @properties ? @properties.count : 0 %> </p>
                  <span class="tx-12 tx-roboto tx-gray-600"></span>
                </div>
              </div>
              <div id="ch5" class="ht-60 tr-y-1 rickshaw_graph"><svg width="340" height="60"><g><path d="M0,30Q24.555555555555557,25.75,28.333333333333332,26.25C34,27,51,37.125,56.666666666666664,37.5S79.33333333333333,31.5,85,30S107.66666666666666,22.5,113.33333333333333,22.5S136,27.75,141.66666666666666,30S164.33333333333334,42.75,170,45S192.66666666666666,52.5,198.33333333333331,52.5S221,46.125,226.66666666666666,45S249.33333333333334,42.375,255,41.25S277.66666666666663,33.375,283.3333333333333,33.75S305.99999999999994,45.375,311.66666666666663,45Q315.4444444444444,44.75,340,30L340,60Q315.4444444444444,60,311.66666666666663,60C305.99999999999994,60,289,60,283.3333333333333,60S260.6666666666667,60,255,60S232.33333333333331,60,226.66666666666666,60S203.99999999999997,60,198.33333333333331,60S175.66666666666666,60,170,60S147.33333333333331,60,141.66666666666666,60S119,60,113.33333333333333,60S90.66666666666667,60,85,60S62.33333333333333,60,56.666666666666664,60S34,60,28.333333333333332,60Q24.555555555555557,60,0,60Z" class="area" fill="#0866C6"></path></g></svg></div>
            </div>
          </div><!-- col-4 -->
          <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
              <div class="pd-x-20 pd-t-20 d-flex align-items-center">
               
                <i class="fa fa-question tx-80 lh-0 tx-purple op-5" aria-hidden="true"></i>

                <div class="mg-l-20">
                  <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase mg-b-10">Demandes</p>
                  <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1"><%= @inquiry_forms ? @inquiry_forms.count : 0 %></p>
                  <span class="tx-12 tx-roboto tx-gray-600"></span>
                </div>
              </div>
              <div id="ch6" class="ht-60 tr-y-1 rickshaw_graph"><svg width="340" height="60"><g><path d="M0,30Q24.555555555555557,25.75,28.333333333333332,26.25C34,27,51,37.125,56.666666666666664,37.5S79.33333333333333,31.5,85,30S107.66666666666666,22.5,113.33333333333333,22.5S136,27.75,141.66666666666666,30S164.33333333333334,42.75,170,45S192.66666666666666,52.5,198.33333333333331,52.5S221,46.125,226.66666666666666,45S249.33333333333334,42.375,255,41.25S277.66666666666663,33.375,283.3333333333333,33.75S305.99999999999994,45.375,311.66666666666663,45Q315.4444444444444,44.75,340,30L340,60Q315.4444444444444,60,311.66666666666663,60C305.99999999999994,60,289,60,283.3333333333333,60S260.6666666666667,60,255,60S232.33333333333331,60,226.66666666666666,60S203.99999999999997,60,198.33333333333331,60S175.66666666666666,60,170,60S147.33333333333331,60,141.66666666666666,60S119,60,113.33333333333333,60S90.66666666666667,60,85,60S62.33333333333333,60,56.666666666666664,60S34,60,28.333333333333332,60Q24.555555555555557,60,0,60Z" class="area" fill="#6F42C1"></path></g></svg></div>
            </div>
          </div><!-- col-4 -->
          <div class="col-sm-6 col-lg-4 mg-t-20 mg-lg-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
              <div class="pd-x-20 pd-t-20 d-flex align-items-center">
               
                <i class="fa fa-bullhorn tx-80 lh-0 tx-teal op-5" aria-hidden="true"></i>

                <div class="mg-l-20">
                  <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase mg-b-10">Annonces</p>
                  <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1"><%= @ads ? @ads.count : 0 %></p>
                  <span class="tx-12 tx-roboto tx-gray-600"></span>
                </div>
              </div>
              <div id="ch7" class="ht-60 tr-y-1 rickshaw_graph"><svg width="340" height="60"><g><path d="M0,30Q24.555555555555557,25.75,28.333333333333332,26.25C34,27,51,37.125,56.666666666666664,37.5S79.33333333333333,31.5,85,30S107.66666666666666,22.5,113.33333333333333,22.5S136,27.75,141.66666666666666,30S164.33333333333334,42.75,170,45S192.66666666666666,52.5,198.33333333333331,52.5S221,46.125,226.66666666666666,45S249.33333333333334,42.375,255,41.25S277.66666666666663,33.375,283.3333333333333,33.75S305.99999999999994,45.375,311.66666666666663,45Q315.4444444444444,44.75,340,30L340,60Q315.4444444444444,60,311.66666666666663,60C305.99999999999994,60,289,60,283.3333333333333,60S260.6666666666667,60,255,60S232.33333333333331,60,226.66666666666666,60S203.99999999999997,60,198.33333333333331,60S175.66666666666666,60,170,60S147.33333333333331,60,141.66666666666666,60S119,60,113.33333333333333,60S90.66666666666667,60,85,60S62.33333333333333,60,56.666666666666664,60S34,60,28.333333333333332,60Q24.555555555555557,60,0,60Z" class="area" fill="#20C997"></path></g></svg></div>
            </div>
          </div><!-- col-4 -->