<div class="br-pageheader">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
        
        <span class="breadcrumb-item active"><h5>Utilisateurs & Permissions</h2></span>
      </nav>
    </div><!-- br-pageheader -->
<div class="br-pagebody">
  <div class="br-section-wrapper">
    <div class="headers mg-b-20">
        <div class="left-content">
        </div>

        <div class="text-right">

        </div>

    </div>

    <div class="tabss">
        <div clas="tabs-header">
          <%= render "custom_users/partials/tabs/tabs-header" %>
        </div>
        <div class="tabs-body">
          <%= render "custom_users/partials/tabs/tabs-body" %>
        </div>
      </div>

	</div>
</div>
