<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
    <p>
    <%= render "custom_users/users_index" %>
    </p>
  </div>
  <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">
      <%= render "roles/roles_index" %>

  </div>
  
</div>