<div class="footer-one">
	<div class="container navbar-fixed-bottom">
		

		<div class="row">
			<div class="col-md-6 copyright">
				&copy;<%= "#{Time.now.year} #{APPLICATION_NAME}" %>  - Tout droits réservés
			</div>

			<div class="col-md-6">
				<div class="social-link">
					<div class="text-center">
	                
	                
	                
	                
	              </div>
				</div>
			</div>

		</div>

	</div>
</div>
