<!-- Side Navbar -->
<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo text-center">
	<%= link_to dashboard_path do %>
		<%= image_tag "logo/logo.png", class: "logo" %> 
	<% end %>

				
</div>
<div class="br-sideleft sideleft-scrollbar">
      <label class="sidebar-label pd-x-10 mg-t-20 op-3">Menu</label>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
        	
			
			<!-- Menu -->
			<%= sidebar_menu %>
				
			<div class="side-footer mg-t-25 mg-b-20 tx-infoo text-center">
            
			</div>

    	</div>  
		
</div>

