 <% @roles.each do |role| %>
    <tr>
    <td><%= role.name %></td>
    <td>
	    <div class="action-buttons">
			<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_role_path(role), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), role_delete_path(role), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>