<% @countries.each do |country| %>
    <tr>
    <td><%= country.name %></td>
            <td>
			<div class="action-buttons">
				<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_country_path(country), title: "Valider", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), country_delete_path(country), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>