
body {
 
  font-family: Inter, Roboto, "Helvetica Neue",Arial,sans-serif !important;
  
}

body{
    background-color: #f7f7f7 !important;
}
.jumbotron {
	/*background-image: url("hero/hero-bamako.jpg");*/
	background-size: cover;
	background-position: center;
    /*min-height: 350px;
    height: 500px;*/
    /*height: calc(100vh - 65px);*/
    background-color: #673AB7 !important;
    /*padding-top: 150px;*/
 
    /*margin-left: -15px !important;
    margin-right: -15px !important;*/
    border-radius: 0px !important;
    position: relative;
    /*background-color: #3b5170 !important;*/
    background-color: #0d2953 !important;
    margin-bottom: 0px !important; 
}

/*.jumbotron .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 10;
}*/
.jumbotron-text{
	color: white !important;
	position: relative;
	/*z-index: 20;*/
	/*margin-bottom: 40px;*/
}
.jumbotron-form {
	z-index: 10;
	position: relative;
	overflow: hidden;
}


.footer{
    left: 230px;
    width: 100%;
    background-color: white;
    padding: 10px;
    position: fixed;
    border-top: 1px solid silver;
    bottom: 0;
}

.components-panel{
    border: 1px solid #e2e4e7;
    padding: 1em;
    margin-bottom: 5px;
}
.components-panel__body-title{

}

.components-panel__body-title h2 {
    font-size: 13px !important;
    font-weight: 600 !important;
}
.logo img {
    width: 90px !important;
}

.navbar-brand img {
   width: 80px !important;
   padding: 15px;
}

.navbar-collapse{
    background-color: white !important;
    padding: 0px !important;
    /*margin-top: 60px !important;*/
}

.field_with_errors{
    color: red !important;
}
.sidebar-footer{
    border: 1px solid red;
}

.logo{
    width: 130px;
}
/*
.navbar {
    
    padding: 0 !important;
}*/


.footer-one{
    padding-top: 30px;
    /*margin-top: 3em;*/
    /*background: #f5f8fa;*/
    background-color: #161e2c;
    border-top: 4px solid #e5e9ee;
    padding-bottom: 1em;
}
.footer-widget-title{
    text-transform: uppercase;
    color: white;
}
.footer-widget-content ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.footer-widget-content ul li a{
    text-decoration: none;
    color: #BEC0C2;
    border: none;
    outline: 0;
}
.footer-widget-content{
    color:#BEC0C2;
    border: none;
    outline: 0;
}

.social-link {
    float: right;
    margin-top: 40px;
    color: white;
}

.section_title{
    float: left;
    text-transform: uppercase;
    color: #7a8f9f;
}
.featured-properties .card{
    /*min-height: 470px !important;*/
    height: 100% !important;
}
.featured-properties .property-item{
    margin-bottom: 15px;
}
.featured-properties, .card-title a {
    color: #837e7e;
}
.featured-properties, .card-title {

    margin-top: 10px !important;
    margin-bottom: 10px !important;

}
.featured-properties .load-more-button{
    margin-left: auto;
    margin-right: auto;
}
.featured-properties .load-more{
    width: 100%;
    margin: 15px
}
.featured-properties {
    margin: 30px 0px 20px 0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {

    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

}
.pagination > li > a, .pagination > li > span {

    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;

}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}
.contract-and-availability{
    /*border: 1px solid red;*/
    position: absolute;
}
.contract-and-availability .status-disponible{
    background-color: green;
    color: white;
    padding: 5px;
}
.contract-and-availability .status-indisponible{
    background-color: red;
    color: white;
    padding: 5px;
}
.contract-and-availability .contract{
    background-color: orange;
    color: white;
    padding: 5px;
    margin-bottom: 2px;
}
.section-title{
    margin: 30px;
}
.nav-item{
    margin: 0px 2px 0px 2px !important;
}
.property-content-thumbnail img, .related-property-thumb img{
    width: 100%;
}
.property-wrapper{
    margin: 30px 0px 30px 0px;
}
.property-wrapper .card-title, .new-property .card-title, 
.user-profile-basic-info .card-title, .user-profile-password .card-title, .user-profile-account .card-title{
    
    padding: 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.share, .related-properties, .property-content,.property-description, .featured-image, .organization, .price_and_unity, .address {
    margin-bottom: 20px;
}
.related-properties-items{
    margin: 4px 0px 4px 0px;
}
.property-owner-thumb img {
    width: 100%;
}
.navbar {
    /*padding: 0 !important;*/
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.22) !important;
    background-color: #fff !important;
   
    max-height: 60px !important;
    border-radius: 0;
    color: #282c35;
}
.properties-index img {
    width: 100%;
}
.thumbnail-preview img {
    width: 100%;
}
#image-preview {
    /*width: 400px;
    height: 400px;*/
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
  }
  #image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
  }
  #image-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }
  #profile-image-upload{
    display: none;
  }
  #profile-image-preview img{
    width: 100%;
  }

  .footer{
    left: auto !important;
  }


 

.hero {
    /*min-height: 400px;*/
    min-height: calc(80vh - 56px);
    position: relative;
    z-index: 10;
    color: #ffffff;
    /*text-align: center;*/
    padding-top: 60px;
    background-color: white;
}
.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:
    rgba(0, 124, 194, 0.57);
}

.hero-content{
    padding-top: 8%;
}

.hero img {
    width: 100%;
}
.text-gray-soft {
    color: #838E95 !important;
    font-size: 1.25rem !important;
}

:hover, :focus, :active {
    outline: none !important;
}
.text-bold {
    font-weight: bold;
}
.display-1 {
    font-size: 80px;
    margin-bottom: 15px;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-weight: 900;
    color: black;
}
.display-1 {
    font-size: 6rem;
    font-weight: 900 !important;
    line-height: 1.1;
}
h1, .h1 {
    font-size: 34px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.4;
    font-weight: 500;
    color: #272727;
    letter-spacing: -0.01em;
}

.without-header {
        margin-top: 98px !important;
    margin-bottom: 60px !important;
}


.required:after { 
    content:" *"; 
    color: red;
}
.bg-br-primary{
    background: #0862a5;
    background-attachment: scroll;
    background-image: none;
    background-image: radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
    /*min-height: 100vh; */
    background-attachment: fixed;
}

.mb5 {
    margin-bottom: 5em !important;
}
.mt5 {
    margin-top: 5em !important;
}
.recaptcha_error{
    color: red;
    margin: 5px;
}
.card-thumbnail img{
    width: 100%;
}
.card-thumbnail{
    margin-top: -1.25rem;
margin-left: -1.25rem;
margin-right: -1.25rem;
}
.property-header{
    /*margin: -60px;*/
    margin-bottom: 15px;
}
.btn{
    font-weight: 600 !important;
}
 .cover img {
    width: 100%;
}

.bg-light {
    background-color: white !important; 
}

.agent-information {
    padding-left: 15px;
    line-height: 25px;
}

.rounded {
    border-radius: .25rem!important;
    
}
img.rounded {
    width: 70px;
    height: 70px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.page-title-wrap .label {
    font-size: 12px;
    padding: 7px 10px 6px;
    margin-right: 5px;
}

.label {
    font-size: 10px;
    line-height: 11px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    padding: 3px 5px;
    color: #fff;
    background-color: rgba(0,0,0,.65);
}
.label {
    border-radius: 2px;
}
.page-title-wrap .item-address {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 7px;
}
.label-featured {
    background-color: #77c720;
    color: #ffffff;
}

.property-detail-v6 .page-title-wrap, .property-detail-v6 .property-banner {
    background-color: #fff;
}
.activitiy-item, .agent-thumb, .property-detail-v6 .page-title-wrap, .property-detail-v6 .property-banner {
    padding-bottom: 30px;
}
.page-title-wrap {
    padding: 30px 0;
}

@media (min-width: 1200px){
.property-wrap .page-title-wrap .page-title {
    max-width: 800px;
}}
@media (min-width: 992px){
.property-wrap .page-title-wrap .page-title {
    max-width: 640px;
}}
@media (min-width: 768px){
.property-wrap .page-title-wrap .page-title {
    max-width: 500px;
}}
.page-title-wrap .page-title {
    margin-right: 10px;
}

.page-title-wrap .item-price-wrap .item-price {
    font-size: 1.0rem;
    /*margin-bottom: 7px;*/
}

.page-title-wrap .item-price-wrap {
    text-align: right;
    top: 3px;
}
.property-price{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(255, 110, 20);
}
.block-content-wrap p:last-of-type, .block-content-wrap ul:last-of-type {
    margin-bottom: 0;
}

.list-2-cols {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.block-content-wrap .list-2-cols li, .block-content-wrap .list-3-cols li {
    line-height: 40px;
    border-bottom: 1px solid;
        border-bottom-color: currentcolor;
    border-color: #dce0e0;
    padding: 0 10px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

.property-address-wrap .block-content-wrap .list-2-cols li span {
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.block-content-wrap .list-2-cols li span{
    float: right;
}

.page-title-wrap .label {
    font-size: 12px;
    padding: 7px 10px 6px;
    margin-right: 5px;
}
.card-body .label{
    margin-right: 5px;
}
.card-body .price {
    margin-top: 5px;
    font-weight: 700;
}

.property-address{
    margin-bottom: 5px;
}
.item-footer {
    padding: 5px 5px;
    border-top: 1px solid #dce0e0;
}
.item-footer .item-date, .item-author {
    float: left;
}

.item-footer  .item-views{
    float: right;
}

.inquiry-form{
    margin: 15px;
}


// For sticky footer
html, body {
    height: 100% !important;
}
body {
    display: flex;
    flex-direction: column;
}
.page-wrapper {
    flex: 1 0 auto;
    margin-top: 60px !important;
}
.footer {
    flex-shrink: 0;
}
/* end */


  /* Rewrite h4 size */
  h4 {
    font-size: initial !important;
  }

  .social-share-button {
    .ssb-icon {
      background-size: 32px 32px;
      height: 32px;
      width: 32px;
    }
  }

.label-status-7, .status-color-8{
    background-color: #ff6e14;
}
.status-available, .status-color-9{
    background-color: rebeccapurple;
}
.label-featured{
    background-color: red;
}
.property-item, .post-item{
    margin-bottom: 15px;
}
.navbar-light .navbar-nav .nav-link {
   
    font-weight: 600 !important;
}

.ad-item img{
    width: 100%;
}

.google-ads{
    text-align: center !important;
}

.pricing-card-title{
    font-size: 1.5em !important;
}
.share{
    background-color: white !important;
}

.share img{
    width: 100% !important;
}

.page-wrapper{
    background-color: white !important;
}