<div class="container">
    <div class="setup-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-base bd-0 mg-t-20 mg-b-30">
                    <div class="card-header pd-20 bg-transparent">
                        <h6 class="card-title tx-uppercase tx-12 mg-b-0">Assistant de création de votre organisation</h6>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <%= render 'setup_form', organization: @organization %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>