 
 
 <div class="container pd-t-30">

	
    <% unless smtp_config?  %>

        <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
            <p>
                Veuillez configurer les paramètres SMTP de votre compte messagerie enfin que l'envoi des emails puisse fonctionner.
                <%= link_to "Configurer", smtp_configs_path %>
            </p>
            </div>
    <% end %>
	
</div>