<div class="container">

<% if is_admin? || is_superadmin? %>
    <% if unregistered_commission_percentage?  %>

            <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                <p>
                    ATTENTION, vous n'avez pas encore encodé complètement les paramètres de tous les apporteurs et producteurs pour l'année encours. Voules-vous le faire maintenant.
                    <%= link_to "Encoder maintenant", unregistered_commission_percentage_path %>
                </p>
                </div>
        <% end %>
<% end %>
</div>