<% @features.each do |feature| %>
    <tr>
    
    <td><%= feature.name %></td>
    <td><%= feature.subject_class %></td>
   <td>
	    <div class="action-buttons">
			<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_feature_path(feature), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), feature_delete_path(feature), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>