<% @plannings.each do |planning| %>
    <tr>
    <td><%= structure(planning.structure_id).name %></td>
    
        <td>
			<div class="action-buttons">
				<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_planning_path(planning), title: "Modifier", remote: false %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), planning_delete_path(planning), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>