<div class="container">



<div class="br-pagebody">
  <div class="br-section-wrapper">
    <div class="headers mg-b-5">
      

    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-md-9">
          <h2>Modification d'un planning</h2>
          <hr />
          <%= render 'form', planning: @planning %>
        </div>
      </div>
    </div>




</div>
</div>
</div>